input, span {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Old Standard TT", Georgia, "Times New Roman", serif; 
	font-size: 16px;
	
	padding-top: 60px;
	
	z-index: 5;
}

h3 {
	font-weight: 700;
	margin: 0 0 15px 0;
}

a {
	transition: all ease-in 250ms;
}

.container {
	padding: 0;
}

.remove-padding {
	padding: 0;
}

.box-margin {
	margin: 0 0 15px 0;
}

section {
	position: relative;
	
	z-index: 5;
	pointer-events: none;
	
	margin: 0;
	padding: 0;
	
}

section:before {
	display: block;
	
	content: " ";
	margin-top: -30px;
	height: 40px;
	visibility: hidden;
}

footer {
	position: relative;
	bottom: -20px;
	
	margin-bottom: 0;
	padding-bottom: 20px;
	margin-top: 30px;
	
	padding-bottom: 0;
	font-family: "VT323";
		
	background-color: black;
	color: white;
	
	
	a:link, a:visited {
		color: white;
	}
	
	a:hover {
		text-decoration: none;
		color: rgb(40,100,168);
	}
	
	ul {
		list-style: none;
		text-indent: none;
		padding: 0 0 20px 0;
	}
	
	h3, h4, h5, h6 {
		font-size: 1.5em;
		font-weight: 200;
	}
	
	.footer--default-font {
		font-family: "VT323";
	}
	
	#r-footer-menu {
		padding-top: 10px;
	}
	
	section {
		z-index: 5;
		pointer-events: inherit;
	}
}

.r-social--button-rounded {
	background-color: lighten(#000, 93.5%);
	border: 1px solid #ccc;
	border-radius: 4px;
 }

/* Hover color change for social links */
#twitter:hover{color: rgb(0,172,237);}
#linkedin:hover{color: rgb(0, 123,182);}
#skype:hover{color: #00aff0;}
#envelope:hover{color:firebrick;}
#github:hover{color:#6e5494;}
#medium:hover{color:#3cb371;}

/* modular stylings */
.img-small {
	width: 250px;
	height: 250px;
}

.jump-active {
	font-weight: 600;
	border-bottom: 3px solid white;
}

/* layout stylings */
#r-header-view {
	position: relative;
	line-height: 1;
	
	img {
		border-radius: 50%;
		padding: 15px 10px;
	}
	
	h1, h2, h4 {
		padding: 0;
		margin: 0;
	}
	
	h1 {
		font-weight: 700;
	}
	
	#r-connect {
		font-family: "Helvetica", sans-serif;
		cursor: default;
		
		margin: 10px;
		letter-spacing: 0.5px;
		
		.r-social {
			display: inline-block;
			padding: 5px 8px;
		}
	}
	
	#r-contact {
		display: block;
		background-color: lighten(#000, 93.5%);
		
		width: 100%;
						
		padding: 15px;
		margin: 10px;
		
		h4 {
			display: inline;
		}
		
	}
	
}

#r-body-view {
	#r-technical-skills-view {
		p, section {
			margin: 0;
			padding: 0;
		}
	}
	
	table {
		min-width: 100%;
		
		tr {
			td, th {
				vertical-align: middle;
			}
		}
	}
	
	ul {
		padding-left: 18px;
		
		margin-top: 10px;
		
		li {
			list-style-position: outside;
			padding: 0;
		}
		
	}

}

#r-education-view {
	li {
		
		list-style: none;
	}	
}

nav#r-fixed-menu {
	top: 0;
	width: 100%;
	z-index: 13;
	pointer-events: auto;
	
	
	#r-nav-menu {
		background-color:rgba(255, 255, 255, 0.8);
		margin-top: 10px;
		padding: 5px 10px;

	}
	
	#r-nav-menu:hover {
		background-color:rgba(200, 200, 200, 0.8);
	}
	
	#r-jump-menu {
		display: none;
		
		margin: 0;	
		background-color:black;
		color: white;
		
		/*box-shadow: 0px 0px 43px 1px rgba(225, 225, 225, 0.73);*/
		
		width: 100%;
		height: 100%;
		
		#r-jump-menu-items {
			margin: 0;
			z-index: 15;
			padding: 5px;
			
			list-style-type: none;
			background-color: black;
			
			h4 {
				font-size: 1em;
			}
			
			
			li {
				position: relative;
								
				z-index: 15;
				text-align: center;
				
				margin: 0;
				padding: 5px 15px;
				
				/*height: 50px;*/
				
				display: inline;
				font-family: "VT323";
				font-weight: 400;
				font-size: 1.3em;
				
			
				a {
					display: inline-block;
					vertical-align: middle;
				}
				
				a:link, a:visited {
					color: white;
				}
				
				a:hover {
					text-decoration: none;
					color: rgb(40,100,168);
				}
			
			}
		}
		
	}
}

.r--edit-section {		
	padding: 0;
	margin: 0;
	min-width: 33px;
	
	z-index: 10;
	pointer-events: auto;

	
	#edit--button {
		display: inline-block;
		padding: 3px 10px;
		
	}
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
}

.small {
	display: inline-block;
	width: 160px;
}

.edit-mode--active {
	display: inline-block;
	
	margin: 0;
	padding: 5px 3px;
	
	z-index: 10;
	pointer-events: auto;
}

.edit-mode--borders {
	display: block;
	border: 1px dotted lighten(#000, 63.5%);
	
	padding: 5px 10px;
	margin: 10px;
}

.edit-mode {
	position: relative;
	padding-top: 40px;
}

.display-mode--hide {
	display: none;
}

.edit-mode--nav {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

.edit-mode--ui {
	padding-right: 10px;
	
	button {
		margin-right: 5px;
	}
}

.edit-options {
	background: none;
}

#edu-year--edit-mode {
	width: 70px;
	margin-bottom: 10px;
}

.options-bar {
	position: absolute;
	
	top: 0;
	right: 0;
	
	width: 75px;
	text-align: center;
	
	background: lighten(#000, 83.5%);
}

.dev--borders {
	border: 1px solid red;
}

#login {
	font-size: 1.3em;
}

/* media queries */
@page { size:8.5in 11in; margin: 1.1in;}

@media print {
	footer, .r-social--button-rounded, #r-fixed-menu, #r-nav-menu, .img-small, .r--edit-section {
		display: none;
	}
	
	body {
		font-size: 18px;
	}
	
	#r-contact {
		display: block !important;
	}
		
	.container {
		margin: 25px;
	}
	
	h3 {
		page-break-after: avoid;
	}
	
	table {
		page-break-inside: avoid;
	}
}
