body {
  font-family: "Old Standard TT", Georgia, "Times New Roman", serif;
  font-size: 16px;
  z-index: 10; }

h3 {
  font-weight: 700; }

a {
  transition: all ease-in 250ms; }

section {
  z-index: 1;
  pointer-events: none; }

section:before {
  display: block;
  content: " ";
  margin-top: -40px;
  height: 40px;
  visibility: hidden; }

footer {
  position: relative;
  bottom: -20px;
  margin-bottom: 0;
  padding-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 0;
  font-family: "Share Tech Mono";
  /*font-weight: 200;*/
  background-color: black;
  color: white; }
  footer a:link, footer a:visited {
    color: white; }
  footer ul {
    list-style: none;
    text-indent: none;
    padding: 0 0 20px 0; }
  footer h3, footer h4, footer h5, footer h6 {
    font-size: 1.7em;
    font-family: "VT323";
    font-weight: 200; }
  footer .copyright {
    font-family: "VT323"; }

/* modular stylings */
.img-small {
  width: 250px;
  height: 250px; }

.jump-active {
  font-weight: 600;
  border-bottom: 3px solid white; }

/* layout stylings */
#r-header-view {
  position: relative;
  line-height: 1; }
  #r-header-view img {
    border-radius: 50%;
    padding: 15px 10px; }
  #r-header-view h1, #r-header-view h2 {
    padding: 0;
    margin: 0; }
  #r-header-view #r-connect {
    font-family: "Helvetica", sans-serif;
    cursor: default;
    margin: 10px;
    letter-spacing: 0.5px; }
    #r-header-view #r-connect .r-social {
      display: inline-block;
      padding: 5px 8px; }

#r-body-view #r-technical-skills-view p, #r-body-view #r-technical-skills-view section {
  margin: 0;
  padding: 0; }

#r-body-view table {
  min-width: 100%; }

#r-body-view ul {
  padding-left: 18px; }

.r-nav {
  top: 0;
  width: 100%;
  z-index: 15;
  pointer-events: auto; }
  .r-nav #r-nav-menu {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    padding: 5px 10px; }
  .r-nav #r-nav-menu:hover {
    background-color: rgba(200, 200, 200, 0.8); }
  .r-nav #r-jump-menu {
    display: none;
    position: relative;
    background-color: black;
    color: white;
    /*box-shadow: 0px 0px 43px 1px rgba(225, 225, 225, 0.73);*/
    width: 100%;
    height: 100%; }
    .r-nav #r-jump-menu #r-jump-menu-items {
      margin: 0;
      padding: 5px;
      list-style-type: none; }
      .r-nav #r-jump-menu #r-jump-menu-items h4 {
        font-size: 1em; }
      .r-nav #r-jump-menu #r-jump-menu-items li:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; }
      .r-nav #r-jump-menu #r-jump-menu-items li {
        position: relative;
        display: inline-block;
        text-align: center;
        margin: 0;
        padding: 5px 15px;
        height: 50px;
        display: inline;
        font-family: "VT323";
        font-weight: 400;
        font-size: 1.3em; }
        .r-nav #r-jump-menu #r-jump-menu-items li a {
          display: inline-block;
          vertical-align: middle; }
        .r-nav #r-jump-menu #r-jump-menu-items li a:link, .r-nav #r-jump-menu #r-jump-menu-items li a:visited {
          color: white; }
        .r-nav #r-jump-menu #r-jump-menu-items li a:hover {
          text-decoration: none;
          color: #4db3d6; }

/* custom breakpoints */
