body {
	font-family: "Old Standard TT", Georgia, "Times New Roman", serif; 
	font-size: 16px;
}

.container {
	border: 1px solid black;
	border-radius: 0 10px;
}

/* modular stylings */
.img-small {
	width: 150px;
	height: 150px;
}

/* layout stylings */
#r-header-view {
	line-height: 1;
	
	img {
		border-radius: 75px;
		padding: 15px 10px;
	}
	
	h1, h2 {
		padding: 0;
		margin: 0;
	}
	
	#r-connect {
		font-family: "Raleway", "Helvetica", sans-serif;
		
		margin: 10px;
		letter-spacing: 0.5px;
		
		.r-social {
			display: inline-block;
			padding: 5px 8px;
		}
	}
	
}

#r-body-view {
	#r-technical-skills-view {
		p {
			margin: 0;
			padding: 0;
		}
	}
}
