body {
  font-family: "Old Standard TT", Georgia, "Times New Roman", serif;
  font-size: 16px; }

.container {
  border: 1px solid black; }

#r-header-view {
  line-height: 1; }
  #r-header-view img {
    border-radius: 75px;
    padding: 15px 10px; }
  #r-header-view h1, #r-header-view h2 {
    padding: 0;
    margin: 0; }
  #r-header-view #r-connect {
    font-family: "Raleway", "Helvetica", sans-serif;
    margin: 10px;
    letter-spacing: 0.5px; }

#r-connect .r-social {
  display: inline-block;
  padding: 5px 8px; }

.img-small {
  width: 150px;
  height: 150px; }
