body {
	font-family: "Old Standard TT", Georgia, "Times New Roman", serif; 
	font-size: 16px;
	z-index: 10;
}

h3 {
	font-weight: 700;
}

a {
	transition: all ease-in 250ms;
}

section {
	z-index: 1;
	pointer-events: none;
}

section:before {
	display: block;
	
	content: " ";
	margin-top: -40px;
	height: 40px;
	visibility: hidden;
}

footer {
	position: relative;
	bottom: -20px;
	
	margin-bottom: 0;
	padding-bottom: 20px;
	margin-top: 30px;
	
	padding-bottom: 0;
	
	font-family: "Share Tech Mono";
	
	background-color: black;
	color: white;
	
	
	a:link, a:visited {
		color: white;
	}
	
	a:hover {
		text-decoration: none;
		color: rgb(40,100,168);
	}
	
	ul {
		list-style: none;
		text-indent: none;
		padding: 0 0 20px 0;
	}
	
	h3, h4, h5, h6 {
		font-size: 2.5em;
		font-weight: 200;
	}
	
	.copyright {
		font-family: "VT323";
	}
	
	#r-footer-menu {
		padding-top: 10px;
	}
}

.r-social--button-rounded {
	background-color: lighten(#000, 93.5%);
	border: 1px solid #ccc;
	border-radius: 4px;
 }

/* Hover color change for social links */
#twitter:hover{color: rgb(0,172,237);}
#linkedin:hover{color: rgb(0, 123,182);}
#skype:hover{color: #00aff0;}
#envelope:hover{color:firebrick;}
#github:hover{color:#6e5494;}
#medium:hover{color:#3cb371;}

/* modular stylings */
.img-small {
	width: 250px;
	height: 250px;
}

.jump-active {
	font-weight: 600;
	border-bottom: 3px solid white;
}

/* layout stylings */
#r-header-view {
	position: relative;
	line-height: 1;
	
	img {
		border-radius: 50%;
		padding: 15px 10px;
	}
	
	h1, h2, h4 {
		padding: 0;
		margin: 0;
	}
	
	h1 {
		font-weight: 700;
	}
	
	#r-connect {
		font-family: "Helvetica", sans-serif;
		cursor: default;
		
		margin: 10px;
		letter-spacing: 0.5px;
		
		.r-social {
			display: inline-block;
			padding: 5px 8px;
		}
	}
	
	#r-contact {
		display: none;
		background-color: lighten(#000, 93.5%);
		
		border-radius: 4px;
				
		padding: 15px;
		margin: 10px;
		
		h4 {
			display: inline;
		}
		
	}
	
}

#r-body-view {
	#r-technical-skills-view {
		p, section {
			margin: 0;
			padding: 0;
		}
	}
	
	table {
		min-width: 100%;
		
		tr {
			td, th {
				vertical-align: top;
			}
		}
	}
	
	ul {
		padding-left: 18px; 
	}

}

#r-education-view {
	li {
		
		list-style: none;
	}	
}

.r-nav {
	top: 0;
	width: 100%;
	z-index: 15;
	pointer-events: auto;
		
	#r-nav-menu {
		background-color:rgba(255, 255, 255, 0.8);
		margin-top: 10px;
		padding: 5px 10px;

	}
	
	#r-nav-menu:hover {
		background-color:rgba(200, 200, 200, 0.8);
	}
	
	#r-jump-menu {
		display: none;
		position: relative;
		
		background-color:black;
		color: white;
		
		/*box-shadow: 0px 0px 43px 1px rgba(225, 225, 225, 0.73);*/
		
		width: 100%;
		height: 100%;
		
		#r-jump-menu-items {
			margin: 0;
			padding: 5px;
			
			list-style-type: none;
									
			h4 {
				font-size: 1em;
			}
			
			li:before {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
			
			li {
				position: relative;
				display: inline-block;
				text-align: center;
				
				margin: 0;
				padding: 5px 15px;
				
				height: 50px;
				
				display: inline;
				font-family: "VT323";
				font-weight: 400;
				font-size: 1.3em;
				
			
				a {
					display: inline-block;
					vertical-align: middle;
				}
				
				a:link, a:visited {
					color: white;
				}
				
				a:hover {
					text-decoration: none;
					color: rgb(40,100,168);
				}
			
			}
		}
		
	}
}

/* custom breakpoints */
@page { size:8.5in 11in; margin: 1.4in;}
@media print {
	footer, .r-social--button-rounded, #r-fixed-menu, #r-nav-menu, .img-small {
		display: none;
	}
	
	#r-contact {
		display: block !important;
	}
		
	.container {
		margin: 25px;
	}
	
	h3 {
		page-break-after: avoid;
	}
	
	table {
		page-break-inside: avoid;
	}
}
